/**
 * @author Jonathon Stelling | http://jonnystelling.com
 */

* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
	overflow: hidden;
}

body {
	background-color: #222;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGklEQVQIW2NkYGD4D8SMQAwGcAY2AbBKDBUAVuYCBQPd34sAAAAASUVORK5CYII=);
	background-repeat: repeat;
	font-family: 'Lato', Helvetica, sans-serif;
	font-size: 16px;
	color: #222;
}

#radial_engine {
    background-image: url(../images/home_image_1.jpg); !important
    width:100%;
    background-size: 100%;
	background-repeat: repeat;
	font-family: 'Lato', Helvetica, sans-serif;
	font-size: 16px;
	color: #222;
}

#home {
    background-image: url(../images/homeBG.jpg); !important
    width:100%;
    background-size: 100%;
	background-repeat: repeat;
	font-family: 'Lato', Helvetica, sans-serif;
	font-size: 16px;
	color: #222;
}

#contact {
    background-image: url(../images/contactBG.jpg); !important
    width:100%;
    background-size: 100%;
	background-repeat: repeat;
	font-family: 'Lato', Helvetica, sans-serif;
	font-size: 16px;
	color: #222;
}

#projects {
    background-image: url(../images/projectBG.jpg); !important
    width:100%;
    background-size: 100%;
	background-repeat: repeat;
	font-family: 'Lato', Helvetica, sans-serif;
	font-size: 16px;
	color: #222;
}

/*---------------Menu Text---------------*/
a {
	color: #5d5d5d;
	text-decoration: none;

	-webkit-transition: 0.15s color ease;
	   -moz-transition: 0.15s color ease;
	    -ms-transition: 0.15s color ease;
	     -o-transition: 0.15s color ease;
	        transition: 0.15s color ease;
}
	a:hover {
		color: #adadad;
	}

a.image {

}
    
h1{
    font-size: 25px;
    line-height: 1.5;
}
h2 {
	font-size: 21px;
    line-height: 1.5;
	font-family: Calibri;
	font-style:normal;
	font-variant: normal;
    font-weight: bold;
}

.meny {
	display: none;
	padding: 20px;
	overflow: auto;
	background: #efff82;
	color: #5d5d5d;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
	.meny ul {
		margin-top: 10px;
	}
		.meny ul li {
			display: inline-block;
			width: 200px;
			list-style: none;
			font-size: 20px;
			padding: 3px 10px;
		}
			.meny ul li:before {
				content: '-';
				margin-right: 5px;
				color: #464646;
			}

/**
 * Hint graphic that appears while menu is inactive
 */
.meny-arrow {
	position: absolute;
	z-index: 10;

	border: 10px solid transparent;

	-webkit-transition: opacity 0.4s ease 0.4s;
	   -moz-transition: opacity 0.4s ease 0.4s;
	    -ms-transition: opacity 0.4s ease 0.4s;
	     -o-transition: opacity 0.4s ease 0.4s;
	        transition: opacity 0.4s ease 0.4s;
}
	.meny-left .meny-arrow {
		left: 14px;
		top: 50%;
		margin-top: -16px;
		border-left: 16px solid #333;
	}
	.meny-right .meny-arrow {
		right: 14px;
		top: 50%;
		margin-top: -16px;
		border-right: 16px solid #333;
	}
	.meny-top .meny-arrow {
		left: 50%;
		top: 14px;
		margin-left: -16px;
		border-top: 16px solid #333;
	}
	.meny-bottom .meny-arrow {
		left: 50%;
		bottom: 14px;
		margin-left: -16px;
		border-bottom: 16px solid #333;
	}
	.meny-active .meny-arrow {
		opacity: 0;

		-webkit-transition: opacity 0.2s ease;
		   -moz-transition: opacity 0.2s ease;
		    -ms-transition: opacity 0.2s ease;
		     -o-transition: opacity 0.2s ease;
		        transition: opacity 0.2s ease;
	}

/**
 * Main contents area
 */
.contents {
	background: white;
	padding: 0px 0px;
	width: 100%;
	height: 100%;
	overflow-y: auto;

	-webkit-overflow-scrolling: touch;
	-webkit-transform-style: preserve-3d;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

	.contents>article {
		max-width: 400px;
	}
	.contents p {
		margin: 10px 0 10px 0;
		font-size: 20px;
		line-height: 1.32;
	}
	.contents small {
		display: block;
		margin-top: 10px;
		padding-top: 10px;
		color: #333;
		font-size: 0.85em;
		border-top: 1px dashed #ccc;

		-webkit-text-size-adjust: none;
	}
	.contents .sharing {
		position: absolute;
		bottom: 20px;
	}

/*--------------Menu Bar Content-------------------*/


#project img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}

/*--------Project Page------------*/
/*---------PROJECT IMAGES---------*/

#photos {
  /* Prevent vertical gaps */
  line-height: 0;
   
  -webkit-column-count: 3;
  -webkit-column-gap:   0px;
  -moz-column-count:    3;
  -moz-column-gap:      0px;
  column-count:         3;
  column-gap:           0px; 
}

#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}

@media (max-width: 1500px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 1300px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 800px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 550px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}


.projectTitleImg{ 
    margin-left:auto;
    margin-right:auto;
}

.menulogo {
margin-left:47px;   
}

.menulogo:hover {
margin-left:47px;
    opacity: 1;
    filter: alpha(opacity=100);
}

.logo:hover {
    opacity: 0.85;
    filter: alpha(opacity=100); 
    top:0;
    left:0;
}

.imagelink{
    position: relative;  
}

.imageLink:hover {
    opacity: 0.75;
    filter: alpha(opacity=100);     
}

.footerContact {
  position:fixed; 
  bottom:10px; 
  line-height: 1.8;
  font-size: 15px;
}

.centered {
  text-align: center;  
}

h4{ 
	font-family: Calibri;
    letter-spacing: 10px;
	font-size: 40px;
	font-style: normal;
	font-variant: normal;
	font-weight: 100;
	line-height: 30px;  
    margin-top: 30px;   
    margin-left: 100px;  
}

.youtube {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#handproject, #myhead, #background {
      display: none;
    }

.issuu{
  width: 100% !important;
  height: auto !important;
}

.projectTitles{
    letter-spacing: 10px;
	font-weight: 200;
}

.keepTogether{
    display: inline;
}

.spacing{
    padding-top: 10px;
    padding-bottom: 10px;
}

.seperateContent{
    padding-top: 50px;
}

.progressOpacity{
       opacity: 0.80; 
}

.imageOpacity{
       opacity: 0.90;
}

#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}

#bg img {
  position: absolute;
  opacity: 1;
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

.path {
      stroke-dasharray: 2200;
      stroke-dashoffset: 2200;
      animation: dash 5s linear forwards;
      -webkit-animation: dash 5s linear forwards;
      -moz-animation: dash 5s linear forwards;
	  -ms-animation: dash 5s linear forwards;
	  animation: dash 5s linear forwards;
    }

    @keyframes dash {
      to {
        stroke-dashoffset: 0;
      }
    }
    @-webkit-keyframes dash {
      to {
        stroke-dashoffset: 0;
      }
    }

#frontLogo{
    margin-left: 32%;
    margin-right: 32%;
    transition: all 1s ease-in-out; 
}

#frontLogo:hover { 
  -webkit-transform:scale(0.9);
  -moz-transform:scale(0.9);
  -ms-transform:scale(0.9);
  -o-transform:scale(0.9);
  transform:scale(0.9);
  opacity: 0.75;
  -webkit-filter: blur(4px);
  filter: blur(4px);
}

.sideLogos{ 
    transition: all .3s ease-in-out; 
}

.sideLogos:hover { 
  -webkit-transform:scale(1.15);
  -moz-transform:scale(1.15);
  -ms-transform:scale(1.15);
  -o-transform:scale(1.15);
  transform:scale(1.15);
  opacity: 0.85;
}

.skillBars{ 
    transition: all 1s ease-in-out; 
}

.skillBars:hover { 
  -webkit-transform:scale(0.9);
  -moz-transform:scale(0.9);
  -ms-transform:scale(0.9);
  -o-transform:scale(0.9);
  transform:scale(0.9);
  opacity: 0.75;
}

/*------------- Full Page Graphic --------------*/
@media all and (orientation:portrait) {
.hideLandscape{
    display: none;
    }
}
@media all and (orientation:landscape) {
.hidePortrait{
    display: none;
    }
}

/*----------------- Column Layout----------------*/

#imgandtext {

  -webkit-column-count: 2;
  -webkit-column-gap:   10px;
  -moz-column-count:    2;
  -moz-column-gap:      10px;
  column-count:         2;
  column-gap:           10px;  
}

#textandprogress {

  -webkit-column-count: 2;
  -webkit-column-gap:   10px;
  -moz-column-count:    2;
  -moz-column-gap:      10px;
  column-count:         2;
  column-gap:           10px;  
}

#fourcolumns {

  -webkit-column-count: 4;
  -webkit-column-gap:   5px;
  -moz-column-count:    4;
  -moz-column-gap:      5px;
  column-count:         4;
  column-gap:           5px;  
}

.frontPageLogo{
    position:fixed;
    top:20px;
    left:40px;
}

.frontPageText{
    position:fixed;
    bottom:75px;
    left:10px;
    letter-spacing: 10px;
    font-size: 40px;
    text-align: center;
}

.frontPageLink{
    position:fixed;
    bottom:100px;
    left:1150px;
    letter-spacing: 2px;
    font-size: 15px;
}

.frontPageImage{
    float:0;
    padding: 0px 0px;
}

.paddingpages {
   padding: 20px 40px;
}

IMG.imgcentered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.signFront{
    display: block;
    height:auto;
    bottom:200px;
    right:300px;
    position:fixed;
    }

.grow {
  -webkit-transition:all 0.5s ease-out;
  -moz-transition:all 0.5s ease-out;
  -ms-transition:all 0.5s ease-out;
  -o-transition:all 0.5s ease-out;
  transition:all 0.5s ease-out;
}

.grow:hover {
  -webkit-transform:scale(1.3);
  -moz-transform:scale(1.3);
  -ms-transform:scale(1.3);
  -o-transform:scale(1.3);
  transform:scale(1.3);
}

.modalCloseIcon{
    margin-right: 10%;
}

/*--------------------------------------Desktop------------------------------------*/
@media screen and (min-width : 1025px) {
    
.portfolioTitle { 
  letter-spacing: 10px;
  font-size: 35px;
  font-weight: bold;
}
    
.projectTitleImg{
    display: block;
    height:auto;
    top:200px;
    left:0;
    width:300px;
    position:fixed;
    }
    
.projectImages{        
    margin-left:375px;
    margin-right:75px;
    top:175px;
    }

.projectDescription{
	font-family: Calibri;
    font-size: 24px;
    text-align: left;
    font-style: normal;
	font-variant: normal;
	font-weight: 100;
    z-index: 50;
    top:600px;
    position: fixed;
    bottom: 50px;
    color: black;
    opacity: 0.65;
    } 
    
.projectInformation{
    text-align: left;
    top:500px;
    position: fixed;
    }
    
.image2{
    display: none;   
    }

.hideForComputer{
    display: none;
    }
    
.showForMobile{
    display: none;
    }
    
.textLeft {
    float: left;
    width: 50%;
    }
    
.imageRight {
    float: right;
    width: 50%;
    }
    
.groupContent {
  display: inline-block;
}
    
.svgcentered {
    height: 0;
    padding-left:45%;
    position: relative;
}
    
.twoColumnPadding{
    padding-right: 10px;
    }
      
}

/*--------------------------------------Tablet-------------------------------------*/
@media screen and (max-width : 1024px) {
    
#frontLogo{
    margin-left: 20%;
    margin-right: 20%;
    }
    
.portfolioTitle { 
  letter-spacing: 10px;
  font-size: 25px;
  font-weight: bold;
}

/*-----CENTER PROJECT DESCRIPTION----*/ 
.projectDescription{
    text-align: center;
    }

.projectTitleImg{
width:100%;         
    }
    
.projectInformation{
    text-align: center;
    } 
    
.image1{
    display: none;   
    }
    
#textandprogress {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }

#fourcolumns {

  -webkit-column-count: 2;
  -webkit-column-gap:   5px;
  -moz-column-count:    2;
  -moz-column-gap:      5px;
  column-count:         2;
  column-gap:           5px;  
}

.hideForMobileTablet{
    display: none;
    }
    
.showForMobile{
    display: none;
    }
    
.svgcentered {
    height: 0;
    padding-left:40%;
    position: relative;
}
    
.twoColumnPadding{
    padding-right: 10px;
    }
    
}

/*--------------------------------------Mobile-------------------------------------*/
@media screen and (max-width : 601px) {
    
#frontLogo{
    margin-left: 0%;
    margin-right: 0%;
    }

.portfolioTitle { 
  letter-spacing: 5px;
  font-size: 16px;
  font-weight: bold;
}

  #imgandtext {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }

#projectInformationMobile {

  -webkit-column-count: 2;
  -webkit-column-gap:   10px;
  -moz-column-count:    2;
  -moz-column-gap:      10px;
  column-count:         2;
  column-gap:           10px;  
}
    
#fourcolumns {

  -webkit-column-count: 1;
  -webkit-column-gap:   5px;
  -moz-column-count:    1;
  -moz-column-gap:      5px;
  column-count:         1;
  column-gap:           5px;  
}
    
.hideForMobileTablet{
    display: none;
    }
    
.showForMobile{
    display:block;
    }

.svgcentered {
    height: 0;
    padding-left:25%;
    position: relative;
}
    
}


/* Import the Google Font 'Lato' */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

/* Container styles */
body {
  color: #333;
  font-family: 'Lato';
}

.container {
  padding: 10px 0;
  text-align: center;
}

.chart {
  position: relative;
  display: inline-block;
  color: #999;
  font-size: 15px;
  text-align: center;
}

.chart figcaption {
  padding: 50px 25px;
  width: 100px;
  height: 50px;
  border: 20px solid #f0f0f0;
  border-radius: 100px;
  line-height: 50px;
}

.chart img {
  position: absolute;
  max-width: 100px;
  max-height: 100px;
  background: white;
}
/* END Container styles */

/* Colors for the circles and positions for the graphics */
.solidworks {
  top: 50px;
  left: 45px;
}

.electronics {
  top: 54px;
  left: 46px;
}

.manufacturing {
  top: 47px;
  left: 46px;
}

.other {
  top: 48px;
  left: 44px;
}


.solidworks + svg .outer {
  stroke: #e34f26;
}

.electronics + svg .outer {
  stroke: lightgreen;
}

.manufacturing + svg .outer {
  stroke: #2c8aff;
}

.other + svg .outer {
  stroke: #e8f700;
}

.chart svg {
  position: absolute;
  top: 0;
  left: 0;
}

.outer {
  fill: transparent;
  stroke: #333;
  stroke-width: 20;
  stroke-dasharray: 534;
  transition: stroke-dashoffset 1s;
  -webkit-animation-play-state: running;
  
  /* firefox bug fix - won't rotate at 90deg angles */
  -moz-transform: rotate(-89deg) translateX(-190px);
}

.chart:hover .outer {
  stroke-dashoffset: 534 !important;
  -webkit-animation-play-state: paused;
}
/* END Circle colors and graphic positions */


/* Set the initial values for the animation */
.chart[data-percent='100'] .outer {
  stroke-dashoffset: 0;
  -webkit-animation: show100 2s;
  animation: show100 2s;
}

.chart[data-percent='95'] .outer {
  stroke-dashoffset: 27;
  -webkit-animation: show95 2s;
  animation: show95 2s;
}

.chart[data-percent='90'] .outer {
  stroke-dashoffset: 53;
  -webkit-animation: show90 2s;
  animation: show90 2s;
}

.chart[data-percent='75'] .outer {
  stroke-dashoffset: 133;
  -webkit-animation: show75 2s;
  animation: show75 2s;
}

.chart[data-percent='50'] .outer {
  stroke-dashoffset: 267;
  -webkit-animation: show50 2s;
  animation: show50 2s;
}

.chart[data-percent='25'] .outer {
  stroke-dashoffset: 401;
  -webkit-animation: show25 2s;
  animation: show25 2s;
}
/* END set initial animation values */

/* Keyframes for the initial animation */
@-webkit-keyframes show100 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes show100 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes show95 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 27;
  }
}

@keyframes show90 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 53;
  }
}

@-webkit-keyframes show75 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 134;
  }
}

@keyframes show75 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 124;
  }
}

@-webkit-keyframes show50 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 267;
  }
}

@keyframes show50 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 267;
  }
}

@-webkit-keyframes show25 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 401;
  }
}

@keyframes show25 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 401;
  }
}
/* END Keyframes for the initial animation */